.body-wrapper{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    font-size: 15px;
}

.footer{
    padding: 60px;
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.row{
    display: grid;
    grid-template-columns: (1fr,20px,1fr);
    grid-auto-rows: minmax(140px,auto);
    letter-spacing: 1px;
}

.row .left{
    grid-column: 1/2;
}

.row .right{
    grid-column: 3/4;
}

.row .left .head{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 25px;
    padding-bottom: 5px;
    
}

.row .right .head{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 25px;
    padding-bottom: 5px;
    text-align: right;
}

.row .left p{
    line-height: 8px;
}

.row .right .co{
    font-family: cursive;
    font-size: 20px;
    text-align: right;
    
}

.row .right p{
    line-height: 8px;
    text-align: right;
}

.row .right .social{
    margin-top: 40px;
    text-align: right;
    height: 50px;
}

.row .right .social ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.row .right .social ul li{
    display: inline;
}

.row .right .social a{
    font-size: 40px;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    /*margin: 5px 2px;*/
}

.fa-facebook {
    
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google{
    color: white;
}

.fa-linkedin{
    color: white;
}

.fa-youtube{
    color: white;
}